
vivado.log
vivado.jou
Maszyna_do_kawy.sim/sim_1/behav/xvlog.pb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xsim.svtype
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/wyswietlacz_4x7seg.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/top.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/test_bench.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/sprawnosc.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/modul_monet.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/mdk_top.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/glbl.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/divider.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/counter.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsimkernel.log
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsimk.exe
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsimcrash.log
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsim.xdbg
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsim.type
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsim.svtype
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsim.rtti
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsim.reloc
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsim.mem
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/xsim.dbg
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/webtalk/usage_statistics_ext_xsim.xml
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/webtalk/usage_statistics_ext_xsim.html
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/webtalk/.xsim_webtallk.info
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/Compile_Options.txt
Maszyna_do_kawy.sim/sim_1/behav/xelab.pb
Maszyna_do_kawy.sim/sim_1/behav/webtalk_51984.backup.log
Maszyna_do_kawy.sim/sim_1/behav/webtalk_51984.backup.jou
Maszyna_do_kawy.sim/sim_1/behav/webtalk.log
Maszyna_do_kawy.sim/sim_1/behav/webtalk.jou
Maszyna_do_kawy.sim/sim_1/behav/test_bench_vlog.prj
Maszyna_do_kawy.sim/sim_1/behav/test_bench_behav.wdb
Maszyna_do_kawy.sim/sim_1/behav/test_bench.tcl
Maszyna_do_kawy.sim/sim_1/behav/simulate.log
Maszyna_do_kawy.sim/sim_1/behav/simulate.bat
Maszyna_do_kawy.sim/sim_1/behav/glbl.v
Maszyna_do_kawy.sim/sim_1/behav/elaborate.log
Maszyna_do_kawy.sim/sim_1/behav/elaborate.bat
Maszyna_do_kawy.sim/sim_1/behav/compile.log
Maszyna_do_kawy.sim/sim_1/behav/compile.bat
Maszyna_do_kawy.runs/synth_1/vivado.pb
Maszyna_do_kawy.runs/synth_1/vivado.jou
Maszyna_do_kawy.runs/synth_1/top_utilization_synth.rpt
Maszyna_do_kawy.runs/synth_1/top_utilization_synth.pb
Maszyna_do_kawy.runs/synth_1/top.vds
Maszyna_do_kawy.runs/synth_1/top.tcl
Maszyna_do_kawy.runs/synth_1/top.dcp
Maszyna_do_kawy.runs/synth_1/runme.sh
Maszyna_do_kawy.runs/synth_1/runme.log
Maszyna_do_kawy.runs/synth_1/runme.bat
Maszyna_do_kawy.runs/synth_1/rundef.js
Maszyna_do_kawy.runs/synth_1/project.wdf
Maszyna_do_kawy.runs/synth_1/ISEWrap.sh
Maszyna_do_kawy.runs/synth_1/ISEWrap.js
Maszyna_do_kawy.runs/synth_1/htr.txt
Maszyna_do_kawy.runs/synth_1/gen_run.xml
Maszyna_do_kawy.runs/synth_1/.Vivado_Synthesis.queue.rst
Maszyna_do_kawy.runs/synth_1/.vivado.end.rst
Maszyna_do_kawy.runs/synth_1/.vivado.begin.rst
Maszyna_do_kawy.runs/impl_1/write_bitstream.pb
Maszyna_do_kawy.runs/impl_1/vivado_16144.backup.jou
Maszyna_do_kawy.runs/impl_1/vivado.pb
Maszyna_do_kawy.runs/impl_1/vivado.jou
Maszyna_do_kawy.runs/impl_1/top_utilization_placed.rpt
Maszyna_do_kawy.runs/impl_1/top_utilization_placed.pb
Maszyna_do_kawy.runs/impl_1/top_timing_summary_routed.rpx
Maszyna_do_kawy.runs/impl_1/top_timing_summary_routed.rpt
Maszyna_do_kawy.runs/impl_1/top_routed.dcp
Maszyna_do_kawy.runs/impl_1/top_route_status.rpt
Maszyna_do_kawy.runs/impl_1/top_route_status.pb
Maszyna_do_kawy.runs/impl_1/top_power_summary_routed.pb
Maszyna_do_kawy.runs/impl_1/top_power_routed.rpt
Maszyna_do_kawy.runs/impl_1/top_placed.dcp
Maszyna_do_kawy.runs/impl_1/top_opt.dcp
Maszyna_do_kawy.runs/impl_1/top_io_placed.rpt
Maszyna_do_kawy.runs/impl_1/top_drc_routed.rpt
Maszyna_do_kawy.runs/impl_1/top_drc_routed.pb
Maszyna_do_kawy.runs/impl_1/top_drc_opted.rpt
Maszyna_do_kawy.runs/impl_1/top_control_sets_placed.rpt
Maszyna_do_kawy.runs/impl_1/top_clock_utilization_placed.rpt
Maszyna_do_kawy.runs/impl_1/top_16144.backup.vdi
Maszyna_do_kawy.runs/impl_1/top.vdi
Maszyna_do_kawy.runs/impl_1/top.tcl
Maszyna_do_kawy.runs/impl_1/runme.sh
Maszyna_do_kawy.runs/impl_1/runme.log
Maszyna_do_kawy.runs/impl_1/runme.bat
Maszyna_do_kawy.runs/impl_1/rundef.js
Maszyna_do_kawy.runs/impl_1/route_design.pb
Maszyna_do_kawy.runs/impl_1/project.wdf
Maszyna_do_kawy.runs/impl_1/place_design.pb
Maszyna_do_kawy.runs/impl_1/opt_design.pb
Maszyna_do_kawy.runs/impl_1/ISEWrap.sh
Maszyna_do_kawy.runs/impl_1/ISEWrap.js
Maszyna_do_kawy.runs/impl_1/init_design.pb
Maszyna_do_kawy.runs/impl_1/htr.txt
Maszyna_do_kawy.runs/impl_1/gen_run.xml
Maszyna_do_kawy.runs/impl_1/.write_bitstream.error.rst
Maszyna_do_kawy.runs/impl_1/.write_bitstream.begin.rst
Maszyna_do_kawy.runs/impl_1/.Vivado_Implementation.queue.rst
Maszyna_do_kawy.runs/impl_1/.vivado.error.rst
Maszyna_do_kawy.runs/impl_1/.vivado.end.rst
Maszyna_do_kawy.runs/impl_1/.vivado.begin.rst
Maszyna_do_kawy.runs/impl_1/.route_design.end.rst
Maszyna_do_kawy.runs/impl_1/.route_design.begin.rst
Maszyna_do_kawy.runs/impl_1/.place_design.end.rst
Maszyna_do_kawy.runs/impl_1/.place_design.begin.rst
Maszyna_do_kawy.runs/impl_1/.opt_design.end.rst
Maszyna_do_kawy.runs/impl_1/.opt_design.begin.rst
Maszyna_do_kawy.runs/impl_1/.init_design.end.rst
Maszyna_do_kawy.runs/impl_1/.init_design.begin.rst
Maszyna_do_kawy.runs/.jobs/vrs_config_9.xml
Maszyna_do_kawy.runs/.jobs/vrs_config_8.xml
Maszyna_do_kawy.runs/.jobs/vrs_config_7.xml
Maszyna_do_kawy.runs/.jobs/vrs_config_6.xml
Maszyna_do_kawy.runs/.jobs/vrs_config_5.xml
Maszyna_do_kawy.runs/.jobs/vrs_config_4.xml
Maszyna_do_kawy.runs/.jobs/vrs_config_3.xml
Maszyna_do_kawy.runs/.jobs/vrs_config_2.xml
Maszyna_do_kawy.runs/.jobs/vrs_config_1.xml
Maszyna_do_kawy.cache/wt/xsim.wdf
Maszyna_do_kawy.cache/wt/webtalk_pa.xml
Maszyna_do_kawy.cache/wt/synthesis_details.wdf
Maszyna_do_kawy.cache/wt/synthesis.wdf
Maszyna_do_kawy.cache/wt/java_command_handlers.wdf
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/test_bench_behav/test_bench_behav_4520_1528954929.btree
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/@l@c@d_decoder.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/@procesor.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/kcpsm6.sdb
Maszyna_do_kawy.sim/sim_1/behav/xsim.dir/xil_defaultlib/proc_data.sdb
